{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Images/style/login.css'%}" />
    <link rel="stylesheet" href="{% static 'Images/style/product.css'%}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    {% include "navbar.html" %}
    
    {% block content %}
        {% if products %}
        <ul class="product-wrapper">

            {% for product in products %}
            <div class="card">
               <a href="{% url 'product' product.id %}">{{product.productName}}</a>
               <br/>
            <h4>{{product.description}}</h4>
            <img src="{{product.image.url}}"/>
 
            </div>
            
            {%endfor%}

        </ul>
        {% endif %}

    {% endblock content %}
         
   
    
</body>
</html>